nav {
            font-family: Arial, Verdana;
            font-size: 14px;
            margin: 0;
            padding: 0;
            list-style: none;
            float: right;
            margin-top: 50px;
        }
        